
article {
  font-size: 18px;
  color: grey;
  margin: 0px 0px 0px 80px;
  word-wrap: break-word;
  padding: 40px;
  border-radius: 15px;
}

article h3 {
  font-size: 28px;
  color: white;
  padding: 10px;
  margin: 0px 0px 0px 60px;
}

article p {
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 0px 0px 0px 60px;
}

section {
  background: rgba(100, 255, 100, 0.5);
  max-width: 800px;
  padding-left: 10px;
  margin: 0px 0px 0px 180px;
  border-radius: 10px;
}

hr {
  border-color: darkgrey;

}

table {
  text-align: center;
}

body {
  background-color: black;
  background: url("mars.jpg");
}

