header {
  background: rgba(0, 0, 0, 0.4);
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 38px;
  color: darkgrey;
  word-wrap: break-word;
  padding: 40px;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;

}

header h1 {
    color: white;
    font-size: 58px;
    margin: 1% 5% 2% 6%;
}

header p {
    margin: 1% 5% 0px 6%;
}


article {
  font-size: 18px;
  color: grey;
  margin: 0px 0px 0px 80px;
  word-wrap: break-word;
  padding: 40px;
  border-radius: 15px;
}

article h3 {
  font-size: 28px;
  color: white;
  padding: 10px;
  margin: 0px 0px 0px 60px;
}

article p {
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 0px 0px 0px 60px;
}





body {
  background-color: dimgrey;
  background: url("mars.jpg");
  background-size: 2000px;
  max-width: 2000px;
}

