
article {
  font-size: 18px;
  color: darkgrey;
  margin: 0px 0px 0px 15px;
  /*word-wrap: break-word;*/
  padding: 30px;
  border-radius: 15px;
}

article h3 {
  font-size: 28px;
  color: white;
  padding: 10px;
  margin: 0px 0px 0px 25px;
}

article p {
  font-size: 20px;
  color: darkgrey;
  padding: 10px;
  margin: 0px 0px 0px 35px;
}

section {
  background: rgba(100, 255, 100, 0.5);
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 570px;
  line-height: 18px;
  overflow: hidden;
  position: fixed;
  top: 200px;
  right: 0px;
  z-index: 999;
  display: block;
  float: right;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

  form fieldset {
    border: none;
  }

  form button {
    margin-top: 10px;
    width: 110px;
    background-color: lightgreen;
    border-color: lightgreen;
  }

  table button {
    margin-top: 5px;
    width: 45px;
    background-color: lightgreen;
    border-color: lightgreen;
  }

hr {
  border-color: darkgrey;

}

table {
  text-align: center;
}

body {
  background-color: black;
  background: url("mars.jpg");
}

p#spacer {
  margin-top: 150px;
}